body {
    margin: 0;
}

.navbar {
    background-color: #333;
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo .logoImage-Navbar {
    width: 50px;
    border-radius: 50%;
}

.links {
    flex: 1; 
    display: flex;
    justify-content: center; 
    margin-top: 10px; 
}

.links .Navbar-link {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.links .Navbar-link:hover {
    color: rgb(222, 168, 62);
    text-decoration: underline;
}

.profile .profileImage-Navbar {
    width: 30px;
    border-radius: 50%;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column; 
    }

    .links {
        margin-top: 0; 
    }

    .links .Navbar-link {
        padding: 8px 10px; 
        font-size: 14px; 
    }

    .profile .profileImage-Navbar{
        width: 25px;
    }
}
