.title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 20px;
  background-color: white; 
  z-index: 1000;
}

.navbar {
  position: sticky;
  top:0;
  z-index: 999;
}

.navbar-brand img {
  height: 50px; /* Logo height, adjust as needed */
  width: auto; /* Maintain aspect ratio */
	border-radius: 80% 100% 80% 100%;

}

.form-control {
  border: 2px solid #007bff; /* Border color for the search input */
}
