body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}


.ContainerForgetPassword {
    backdrop-filter: blur(7px) saturate(0%);
    -webkit-backdrop-filter: blur(13px) saturate(0%);
    background-color: rgba(255, 170, 67, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.HeaderFindAacount {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.ParagraphForgetPassword {
    text-align: center;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
}

.LabelForgetPassword {
    display: block;
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.InputEmailForgetPassword {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.SearchForgetPassword {
    background-color: #c67700;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.SearchForgetPassword:hover {
    background-color: #834e00;
}

.CancelForgetPassword {
    background-color: #c67700;
    color: white;
    margin-left: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.CancelForgetPassword:hover {
    background-color: #834e00;
}
@media screen and (max-width: 600px) {
    .ContainerForgetPassword {
        width: 90%; 
    }
    .HeaderFindAacount {
        font-size: 1.5em; 
    }
}